[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-login = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
requests = "*"
flask-wtf = "*"
wtforms-sqlalchemy = "*"

[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.10"
