@import 'base/base.css';

 /* General */

body, html {
  height: 100%;
}

body {
    background-color: #f1f1f1;
}

p.flash-messages {
    text-align: center;
    color: #100857

}

img.train-pic {
  max-width:100%;
  height:auto;
  display:block;
  margin: auto;

}

 /* Ticketverwaltung */

div.content-ticket {
    padding-top: 50px;
    margin-left: 400px;
}

.tickets {
    margin-left: 120px;
}

 /* Ende Ticketverwaltung */

 /* Registrierung */

div.register-text {
    padding-top: 50px;
    margin-left: 400px;
}

img.add-user-pic {
    width: 100%;
    height: auto;

}

div.register-pic-upload{
   text-align: center;
   padding-top: 50px;

}
 /* Ende Registrierung */


div.aktionen-content {
    padding-top: 50px;
    margin-left: 200px;
}

p {
    padding-bottom: 1px;
}


span.status-aktiv{
    color: green;
    font-weight: bold;
}

span.status-inaktiv{
    color: #f3d02f;
    font-weight: bold;
}

span.status-beendet{
    color: red;
    font-weight: bold;
}


h1 {
    color: #5f50c7;
}

h2 {
    color: #100857;
    text-align: center;
}

 /* Login */

 div.content-login {
  width = 100%;
}

div.login-container {
    position: absolute;
    margin:auto;
    margin-top: 10 px;
    position: relative;
    width:500px;
    height:300px;
    background-color:#ffffff;
    border:1px solid grey;
}

div.login-text{
    margin:auto;
    position: relative;
    padding-left: 50px;
}

div.flash-login{
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Login Ende */

/* Profil */

div.content-profil {
    padding-top: 50px;
    margin-left: 400px;
}

/* Profil Ende */

img.user-pic {
    background: transparent;
}

span.admin-field {
    color: red;
}

div.container-user {
    text-align: center;
}


 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #5f50c7;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #6fa9c0;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* table */
table {
    border-collapse: collapse;
    position: absolute;
    margin:auto;
    /*margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


tr {
    background-color: white;
    color: black;
    text-align: center;
}

th,
td {
    max-width: 250px;
    padding: 12px 15px;
}

td.warnings{
    max-width: 200px;
    padding: 12px 15px;
    font-size: 0.7em;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f0f0f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #f0f0f3;
}

tr:first-of-type{
    background-color: #8c8c8d;
}

tbody tr.active-row {
    font-weight: bold;
    color: red;
}




