 <!DOCTYPE html>
<html>
  <head>
    <title>Ticketshop</title>
    <link rel="stylesheet" href="../static/css/ticketshop.css">
  </head>
<body>



<!-- sidebar -->
<div class="sidebar">
    <h2>YOUR GETAWAY <br> Ticketshop</h2>
  <a class="active" href="/aktionen/neu">Aktion anlegen</a>
  <a href="/alleAktionen">Aktionen</a>
  <a href="/profil">Profil</a>
</div>

<div class="container-user" style="float:right">
     <img class = "user-pic" src="https://www.cubicalseo.com/public/admin/testimonial/1622187559.png"
          alt="user picture" style="width:70px;height:70x;">  <br>
    <span>{{ email }}</span> <br>
    <span class = "admin-field">ADMIN</span> <br>
    <a href="/ausloggen"><span >Ausloggen</span></a>
</div>

<!-- Page content -->
<div class="content">
    <div class ="aktionen-content">
    <h1>Aktion anlegen</h1>
    <form method = "POST">
        <label>Rabatt (in Prozent)
            <br>
            <input type ="number" name ="discount" required oninvalid="this.setCustomValidity('Es muss ein Rabatt eingegeben werden.')"
            oninput="this.setCustomValidity('')"/>
        </label>
        <p></p>
        <label>Strecke <br>
            <select name="route_picker" id="route_picker">
                <option value="" selected>Strecke wählen</option>
                {% for r in get_routes() %}
                    <option value="{{r.id}}">{{r.from_}}  ---  {{r.to}}</option>
                {% endfor %}
            </select>
        </label>
        <p></p>

        <label>Startdatum
            <br>
            <input type="datetime-local" id="start_date"  name="start_date" value="{{today()}}">
        </label>
        <p></p>
        <label>Enddatum
            <br>
            <input type="datetime-local" id="end_date" name="end_date" value="{{today()}}">
        </label>
        <p></p>
        <input class ="button-aktionAnlegen" type = "submit" value ="Aktion anlegen"/>

        </form>
        </div>

    {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <p class ="flash-messages">{{ message }}</p>
               {% endfor %}
         {% endif %}
      {% endwith %}


    </div>
</body>
 </html>

