  <!DOCTYPE html>
<html>
  <head>
    <title>Ticketshop</title>
    <link rel="stylesheet" href="../static/css/ticketshop.css">
  </head>
{% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <p class ="flash-messages">{{ message }}</p>
               {% endfor %}
         {% endif %}
      {% endwith %}

<!-- sidebar -->
<div class="sidebar">
    <h2>YOUR GETAWAY <br> Ticketshop</h2>
  <a class="active" href="/tickets/neu">Ticket kaufen</a>
  <a href="/tickets">Tickets</a>
  <a href="/profil">Profil</a>
</div>


<div class="container-user" style="float:right">
     <img class = "user-pic" src="https://www.cubicalseo.com/public/admin/testimonial/1622187559.png"
          alt="user picture" style="width:70px;height:70x;">  <br>
    <span>{{ email }}</span> <br>
    <a href="/ausloggen"><span >Ausloggen</span></a>
</div>

<!-- Page content -->
<div class="content-ticket">
<h1>Fahrtdurchführung wählen</h1>
<div class ="fahrtdurchfuehrungen">


 <table>
    {% for f in fahrtdurchfuehrungen %}
    <tr>


        <td>Id: {{f['id']}} </td>
         <td>Zug: {{f['zug']['name']}} </td>
        <td>Von: {{f['fahrtstrecke']['von']}} Nach: {{f['fahrtstrecke']['nach']}}</td>
        <td>Datum: {{f['datum']}}</td>
        <td><a data-confirm="Are you sure?" data-method="delete" href="/tickets/details/{{f['id']}}"><button>Auswählen</button></a></td>

    </tr>
     {% endfor %}
</table>

</div>
    <form method = "POST">
    <input type = "submit" value ="Abbruch"/>

</form>
</div>
 </html>
