<!DOCTYPE html>
<html>
<head>
    <title>Ticketshop</title>
    <link rel="stylesheet" href="../static/css/ticketshop.css">
</head>
<body class="login">

<img class="train-pic" src="https://i.ibb.co/p3bBnXs/train.jpg" alt="train" border="0">

<div class="content-login">
    <div class="login-container">
        <div class="login-text">
            <h1>Einloggen</h1>
            <form method="POST">
                <label>Email
                    <br>
                    <input type="email" name="email"/>
                </label>
                <p></p>
                <label>Passwort
                    <br>
                    <input type="password" name="password"/>
                </label>
                <p></p>
                <input type="submit" value="Einloggen"/>

            </form>
            <p>Noch kein Account? <a href="/registrierung"> Registrieren </a></p>
        </div>
    </div>
</div>
<div class="flash-login">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flash-messages">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
</body>
</html>