  <!DOCTYPE html>
<html>
  <head>
    <title>Ticketshop</title>
    <link rel="stylesheet" href="../static/css/ticketshop.css">
  </head>

<!-- The sidebar -->
<div class="sidebar">
  <h2>YOUR GETAWAY <br> Ticketshop</h2>
  {% if is_admin %}
  <a href="/aktionen/neu">Aktion anlegen</a>
  <a href="/alleAktionen">Aktionen</a>
  {% else %}
  <a href="/tickets/neu">Tickets kaufen</a>
  <a href="/tickets">Tickets</a>
  {% endif %}
  <a class="active" href="/profil">Profil</a>
</div>


  <div class="container-user" style="float:right">
     <img class = "user-pic" src="https://www.cubicalseo.com/public/admin/testimonial/1622187559.png"
          alt="user picture" style="width:70px;height:70x;">  <br>
    <span>{{ email }}</span> <br>
    {% if is_admin %}
    <span class = "admin-field">ADMIN</span> <br>
    {% endif %}
    <a href="/ausloggen"><span >Ausloggen</span></a>
</div>

<!-- Page content -->

<div class="content-profil">
<h1>Profil editieren</h1>
  <form method = "POST">
    <label>Email *
        <br>
    <input type ="email" name ="email" value="{{ user.email }}" disabled/>
    </label>
    <p></p>
    <label>Passwort *
        <br>
    <input type ="password" name ="password" required oninvalid="this.setCustomValidity('Es muss ein Passwort eingegeben werden.')"
    oninput="this.setCustomValidity('')"/>
    </label>
    <p></p>
    <label>Neues Passwort
        <br>
    <input type ="new-password" name ="new-password"/>
    </label>
    <p></p>
    <label>Vorname
        <br>
    <input type ="firstname" value="{{ user.firstname }}" name ="firstname"/>
    </label>
    <p></p>
    <label>Nachname
        <br>
    <input type ="lastname" value="{{ user.lastname}}"name ="lastname"/>
    </label>
    <p></p>
    <label>Geburtsdatum
        <br>
      <input type="datetime-local" id="birthday"  name="birthday" value="{{ user.birthday }}">
    </label>
    <p></p>
    <input type = "submit" value ="Profil editieren"/>
</form>

<!-- Message Flashing -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
     {% for message in messages %}
        <p class ="flash-messages">{{ message }}</p>
     {% endfor %}
  {% endif %}
{% endwith %}

</div>
</html>