 <!DOCTYPE html>
<html>
  <head>
    <title>Ticketshop</title>
    <link rel="stylesheet" href="../static/css/ticketshop.css">
  </head>
<body>


<!-- sidebar -->
<div class="sidebar">
    <h2>YOUR GETAWAY <br> Ticketshop</h2>
  <a class="active" href="/tickets/neu">Ticket kaufen</a>
  <a href="/tickets">Tickets</a>
  <a href="/profil">Profil</a>
</div>


<div class="container-user" style="float:right">
     <img class = "user-pic" src="https://www.cubicalseo.com/public/admin/testimonial/1622187559.png"
          alt="user picture" style="width:70px;height:70x;">  <br>
    <span>{{ email }}</span> <br>
    <a href="/ausloggen"><span >Ausloggen</span></a>
</div>

<!-- Page content -->
<div class="content-ticket">
<h1>Ticket kaufen</h1>
<form method = "POST">
    <label>Von
        <br>
    <input type ="text" name ="von" />
    </label>
     <p></p>
    <label>Nach
        <br>
    <input type ="text" name ="nach" />
    </label>
     <p></p>
    <label>Datum
        <br>
      <input type="datetime-local" id="datum"  name="datum" value="2022-04-23T00:01">
    </label>
      <p></p>
    <input class ="button-ticketAnlegen" type = "submit" value ="Weiter"/>

</form>
</div>
</body>
 </html>
