{% extends "base.html" %}
{% block title %}Fahrplan-IS - Fahrpläne{% endblock %}
{% block content %}



<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
<h1 class="py-4">Fahrtstrecken</h1>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        {% if current_user.admin == 1 %}
        <a href="create"
           class="btn btn-outline-primary">Neue Fahrtstrecke hinzufügen</a>
           {% endif %}
    </div>
</div>

<!-- <p></p> -->
<table class="table">
    <thead>
        <tr>
            <!-- <th scope="col">&#x2666;</th> -->
            <th scope="col">#</th>
            <th scope="col">Fahrtstrecke</th>
            <th scope="col">^ Strecke</th>
            <th scope="col">von</th>
            <th scope="col">nach</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for line in lines %}
        <!-- if line.sections - workaround fur unvollstandige daten -->
        {#% if line.sections %#}
        <tr>
            <th scope="row"
                data-id="{{ line.id }}">{{ line.id }}</th>
            <td data-id="{{ line.id }}">{{ line.descr }}</td>
            <td data-id="{{ line.id }}">{{ line.route.name }}</td>
            <td data-id="{{ line.id }}">{{ (line.sections | first).section.from_station_name }}</td>
            <td data-id="{{ line.id }}">{{ (line.sections | last).section.to_station_name }}</td>
            <td data-id="{{ line.id }}">  </td>
            <td data-id="{{ line.id }}">
                <a href="./{{ line.id }}">Fahrplan</a>
            </td>
            {% if current_user.admin == 1 %}

            <td>
                <a href="{{ line.id }}/update"
                   id="btn-edit"
                   class="btn btn-sm btn-outline-secondary"
                   aria-label="Edit">
                    <span aria-hidden="true">&#x270E;</span>
                </a>
            </td>
            <td>
                <a href="{{ line.id }}/delete"
                   id="btn-delete"
                   class="btn btn-sm btn-outline-danger"
                   aria-label="Delete">
                    <span aria-hidden="true">&#x2A09;</span>
                    <!-- <span aria-hidden="true">&#x1f5d1;</span> -->
                </a>
            </td>
            {% endif %}
        </tr>
        {#% endif %#}
        {% endfor %}
    </tbody>
</table>


{% endblock %}
