{% extends "base.html" %}
{% block title %}Fahrplan-IS - Fahrplan bearbeiten{% endblock %}
{% block content %}

{% if current_user == None %}
<!-- TODO if user not authenticated -->
<p>404</p>
{% elif current_user.admin == 1 %}

<br />
<br />
<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <h1>Fahrtstrecke</h1>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <a href="update"
           class="btn btn-outline-primary">Fahrtstrecke bearbeiten</a>
    </div>
</div>

{% if line is not undefined or None %}
{% if line.route is not undefined or None %}
{% include 'lines/line_component.html' %}

<br />
<br />

<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <h2>Durchführungen</h2>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <a href="create_trip"
           class="btn btn-outline-primary">Durchführung hinzufügen</a>
    </div>
</div>
{% include 'lines/line_trips_component.html' %}

{% endif %}
{% endif %}

{% endif %}
{% endblock %}
