{% extends "base.html" %}
{% block title %}Fahrplan-IS - Home{% endblock %}
{% block content %}
<h1 class="py-1">Fahrplan-Informationssystem</h1>
{% if not current_user.is_authenticated %}
<p>Bitte einloggen um fortzufahren.</p>
{% endif %}
<h2 class="py-1">Fahrtstrecken</h2>

<table class="table">
    {% for line in lines %}
    <thead>
        <tr>
            <td colspan="4"
                style="padding-top: 2em;">
                <h4>{{ line.descr }} auf {{ line.route.name }}</h4>
                <span>Gesamtpreis: {{ "{:,.2f}".format(line.price/100) | replace('.',',') }} €</span>
                <p>Fahrtdauer: {{ (line.sections | last).arrival }} min</p>
                <p>Information: {{ line.note if line.note }}</p>
                <h5>Abschnitte:</h5>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">von</th>
            <th scope="col">nach</th>
            <th scope="col">Dauer (min)</th>
        </tr>
        {% for line_section in line.sections %}
        <tr>
            <td>{{ line_section.section.id }}</td>
            <td>{{ line_section.section.from_station_name }}</td>
            <td>{{ line_section.section.to_station_name }}</td>
            <td>{{ line_section.section.duration }} min</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">{{ line.note if line.note if not None }}</td>
            <td>
                {{ (line.sections | last).arrival }} min Fahrdauer
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
