{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<h1 class="py-5">Your User</h1>
    {% if user.admin == False %}
        <li>
            <span class="field-name">Your Email Address:</span>
            <span class="field-value">{{ current_user.email }}</span>
        </li>
        <li>
            <span class="field-name">Your first name:</span>
            <span class="field-value">{{ current_user.first_name }}</span>
        </li>
        <li>
            <span class="field-name">Your last name:</span>
            <span class="field-value">{{ current_user.last_name }}</span>
        </li>
        <li>
            <span class="field-name">Your birthday:</span>
            <span class="field-value">{{ current_user.birthday }}</span>
            <p>
                <a href="/edit_emp_user/{{ current_user.id }}"
                   class="btn btn-primary btn-lg-active"
                   role="button" aria-pressed="true">Adapt your profile
                </a>
            </p>
        </li>
    {% else %}
        <br />
        <form method="POST">
          <h2 align="center">Add a new User</h2>
          <br />
          <div class="form-group">
            <label for="us_email">Enter the email for the new user:</label>
            <input
              type="email"
              class="form-control"
              id="us_email"
              name="us_email"
              placeholder="Enter the email for the new user"
            />
          </div>
          <div class="form-group">
            <label for="us_first_name">Enter the firstname for the new user:</label>
            <input
              type="text"
              class="form-control"
              id="us_first_name"
              name="us_first_name"
              placeholder="Enter the firstname for the new user"
            />
          </div>
          <div class="form-group">
            <label for="us_last_name">Enter the lastname for the new user:</label>
            <input
              type="text"
              class="form-control"
              id="us_last_name"
              name="us_last_name"
              placeholder="Enter the lastname for the new user"
            />
          </div>
          <div class="form-group">
            <label for="us_password1">Enter the password for the new user:</label>
            <input
              type="password"
              class="form-control"
              id="us_password1"
              name="us_password1"
              placeholder="Enter the password for the new user"
            />
          </div>
          <div class="form-group">
            <label for="us_password2">Confirm the password:</label>
            <input
              type="password"
              class="form-control"
              id="us_password2"
              name="us_password2"
              placeholder="Confirm the password"
            />
          </div>
          <br />
          <button type="add" class="btn btn-primary">Add new User</button>
        </form>
        <hr />
        <h3 class="py-5">All Users:</h3>
        <u1 class="list-group list-group-flush" id="users-list">
        {% for u in all_users %}
            <li class="list-group-item">
                <li>
                    <span class="field-name">User_id:</span>
                    <span class="field-value">{{ u.id }}</span>
                </li>
                <li>
                    <span class="field-name">User_email:</span>
                    <span class="field-value">{{ u.email }}</span>
                </li>
                <li>
                    <span class="field-name">User_first_name:</span>
                    <span class="field-value">{{ u.first_name }}</span>
                </li>
                <li>
                    <span class="field-name">User_last_name:</span>
                    <span class="field-value">{{ u.last_name }}</span>
                </li>
                <li>
                    <span class="field-name">User_birthday:</span>
                    <span class="field-value">{{ u.birthday }}</span>
                </li>
                <li>
                    <span class="field-name">User_admin:</span>
                    <span class="field-value">{{ u.admin }}</span>
                    <p>
                        <a href="/edit_users/{{ u.id }}"
                           class="btn btn-primary btn-lg-active"
                           role="button" aria-pressed="true">Edit
                        </a>
                        <button type="button" class="btn btn-danger"
                                onClick="deleteUser({{ u.id }})">Delete
                        </button>
                    </p>
                </li>
            </li>
        {% endfor %}
    </u1>
    {% endif %}
{% endblock %}
