{% extends "base.html" %}
{% block title %}Warnings{% endblock %}
{% block content %}
<dif>
    <h1 class="py-5">Warnings</h1>
    <u1 class="list-group list-group-flush" id="warning-list">
        {% for war in all_warnings %}
            <li id="{{ war.id }}" class="entry list-group-item">
                <li>
                    <span class="field-name":>Warning_ID:</span>
                    <span class="field-value">{{ war.id }}</span>
                </li>
                <li>
                    <button type="button" class="close" onClick="deleteWarning({{ war.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span class="field-name":>Warning Information:</span>
                    <span class="field-value">{{ war.warnings }} </span>
                </li>
                <li>
                    <span class="field-name":>Warning on Section: </span>
                    <span class="field-value">[{{ war.warning_section.start.name }} - {{ war.warning_section.end.name }}]</span>
                </li>
            </li>
        {% endfor %}
    </u1>
</dif>
<br />
<form method="POST">
  <h3 align="center">Add a new Warning</h3>
  <br />
  <div class="form-group">
    <label for="war_section">Select a section</label>
      <select id="war_section" name="war_section" class="form-select">
          {% for sec in all_sections %}
          <option value="{{ sec.id }}">{{ sec.start.name }} - {{ sec.end.name }}</option>
          {% endfor %}
      </select>
  </div>
  <div class="form-group">
    <label for="war_warnings">Warning</label>
    <input
      type="text"
      class="form-control"
      id="war_warnings"
      name="war_warnings"
      placeholder="Enter the Warning"
    />
  </div>
  <br />
  <button type="add" class="btn btn-primary">Add new Warning</button>
</form>
{% endblock %}